# Компиляционные файлы и директории
obj/
*.o
*.d
*.out
*.exe

# Файлы от IDE (например, VSCode, Xcode, и т.д.)
.vscode/
.idea/
*.code-workspace

# Системные файлы (например, macOS, Windows)
.DS_Store
Thumbs.db

# Файлы сборки и артефакты (Makefile, а также дополнительные сборки, если они есть)
Makefile.user
Makefile.local

# Логи
*.log

# Ремонтные файлы (например, временные файлы редакторов)
*~